
.contact-form {
    padding: 40px;
    background-color: $color-background-secondary;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__title {
        color: $color-secondary;
    }

    &__control {
        border-radius: 8px;
        border: 1px solid $color-border;
        padding: 10px;
        margin-bottom: 20px;
    }

    &__button {
        background-color: $color-accent;
        color: $color-white;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-accent-light;
        }
    }
}
.image-link {
    display: flex; /* Alinea los elementos en una fila horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
  }
  
  .image-link a {
    display: inline; /* Hace que los enlaces se comporten como bloques en línea */
    margin: 20px 20px; /* Espacio horizontal entre los enlaces */
  }
  
  .image-link img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    float: left;
    &:hover {
        transform: scale(1.1);
    }
    }